@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <input type="number" id="txtNumber" />
    <input type="button" id="btnPronounce" value="Pronounce" />
    <br />
    <label id="lblConvertedText"></label>
</div>
