<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <input type="number" id="txtNumber" />
    <input type="button" id="btnPronounce" value="Pronounce" />
    <br />
    <label id="lblConvertedText"></label>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnPronounce").click(function () {
                $.get("/Home/NumberToText", { number: $("#txtNumber").val() }, function (data) {
                    $('#lblConvertedText').text(data);
                });
            });
        })
    </script>
</div>
